<?xml version="1.0" encoding="utf-8"?>

<widget xmlns = "http://www.w3.org/ns/widgets"
  xmlns:gap ="http://phonegap.com/ns/1.0"
  id = "com.phonegap.app1"
  version = "1.0.0">
  
  <name> app1-2018 Datos del Dispositivo </name>
  
  <descripcion>
  Aplicaciones que muestra los Datos del Dispositivo
  </descripcion>
  
  <author href="https://phonegap.com" email="joos210514s@gmail.com">
  	Joselyn Gonzalez Palacios
	</author>
	
	<!--personaliza la aplicacion y plataforma-->
	<preferente name="orientation" value="default"/>
	<!--< preference name="orientation" value="portrait"/>
	<preference name="orientation" value="landscape"/>-->
	<preferente name="target-device " value="universal"/>
	<preferente name="fullscreen" value="true"/>
	<preferente name="android-installLocation" value="auto"/>
	<preferente name="permissions" value="INTERNET"/>
	
	<!--Plugins-->
	<!--Core plugins-->
	<pluiguins name="cordova-plugin-device"spec="~1.1.4"/>
	<pluiguins name="cordova-plugin-vibration"spec="~2.1.3"/>
	<pluiguins name="cordova-plugin-dialogs"spec="~1.3.1"/>
	
<!--<plugin name="cordova-plugin-geolocation" source="npm"/> -->
  <!--Third part plugins-->
  
  <!--Colocar iconoapp-->
  
  <icon scr="res/android/mdpi.png"/>
  
  </widget>
	
	